<h1>Profile Page for <%= @user.name %></h1>

<section id="profile-data">
  <h2>Order Data</h2>
  <p>Email: <%= @user.email %></p>
  <p>Role: <%= @user.role %></p>
  <aside id="address-details">
    <h3>Address:</h3>
    <p><%= @user.address %></p>
    <p>
      <%= @user.city %>,
      <%= @user.state %>
      <%= @user.zip %>
    </p>
  </aside>
  <p><%= link_to 'Edit Profile Data', edit_profile_path unless current_admin? %></p>
</section>

<section id="orders-data">
  <h2>Order Data</h2>
  <p><% if @user.orders.any? %>
  <%= link_to 'Customer Orders', profile_orders_path %>
  <% else %>
  You have no orders yet.
  <% end %></p>
</section>
