<h1>Hello, <%= current_user.name %>!</h1>
<p>Email: <%= current_user.email %></p>
<h3>Address:</h3>
<p><%= current_user.address %></p>
<p>
  <%= current_user.city %>,
  <%= current_user.state %>
  <%= current_user.zip %>
</p>
